@charset "UTF-8";

/* Paleta de Cores */
:root {
    --marromEscuro: #261c1a;
    --marromClaro: #ac8f83;
    --marromMaisClaro: #ada0a2;
    --marromSuperClaro: #d5ccc7;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100dvh;
    background-color: var(--marromMaisClaro);
    color: white; /* Melhora o contraste de texto */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

form {
    position: relative;
    background-color: var(--marromClaro);
    width: 80%;
    max-width: 400px; /* Limita a largura máxima do formulário */
    height: auto; /* Ajustado para ser responsivo */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form > button.btnCadastrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: var(--marromClaro);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

form > button.btnCadastrar:hover {
    background-color: var(--marromMaisClaro);
    color: white;
}

div.campo {
    margin: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--marromMaisClaro);
    border-radius: 15px;
}

div.campo i {
    padding: 10px;
}

div.campo input {
    background-color: var(--marromMaisClaro);
    border: none;
    outline: none;
    flex: 1;
    height: 45px;
    border-radius: 0 15px 15px 0;
    padding: 0 15px;
}

label {
    cursor: pointer;
}

div.containerLembrarEEsqueci {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

div.containerLembrarEEsqueci > a {
    text-decoration: none;
    color: white;
}

div.containerLembrarEEsqueci > a:hover {
    color: var(--marromEscuro);
    text-decoration: underline;
}

input#entrar {
    background-color: white;
    color: var(--marromClaro);
    font-weight: bolder;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    width: 100%;
    height: 45px;
    cursor: pointer;
}

input#entrar:hover {
    background-color: var(--marromMaisClaro);
    color: white;
}
