@charset "UTF-8";

/* Paleta de Cores */
:root {
    --marromEscuro: #261c1a;
    --marromClaro: #ac8f83;
    --marromMaisClaro: #ada0a2;
    --marromSuperClaro: #d5ccc7;
}


* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
}

header {
    color: var(--marromEscuro);
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header > h2 {
    color: var(--marromClaro);
}

header > p, a, button {
    color: var(--marromClaro)
}

header a {
    text-decoration: none;
}

header button {
    background-color: #ac8f83;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.imagem-frase > img {
    width: 100%;
    height: auto;
}

main > h3 {
    color: var(--marromClaro);
    text-align: center;
    margin-top: 60px;
    padding: 10px;
}

main p {
    padding: 35px;
    text-align: justify;
    line-height: 35px;

}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnCadastre {
    margin-bottom: 150px;
}

.btnTelaInicial {
    color: white;
    background-color: var(--marromClaro);
    border-radius: 10px;
    border: none;
    width: 80%;
    padding: 10px 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;

}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--marromClaro);
    color: white;
    font-weight: bold;
    padding: 30px;
    text-align: left;
}

.contato {
    margin-bottom: 10px;
}

.contato a {
    color: rgb(67, 67, 241);
    text-decoration: none;
    padding: 10px;
}


